.banner-container {
  display: block;
  margin: auto 0;
  position: relative;
  margin-top: 2px;
  background-color: #2b3035;
}

.logo {
  opacity: 0.8;
}

body {
  background-color: #f5f2f0;
}

h1 {
  font-weight: 900;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.col-md-5 {
  max-width: 1200px;
  margin: 0 auto;
}

.banquet,
.kid-camp,
.sac-camp {
  border-radius: 30px;
  height: 300px;
  width: 220px;
  transition: all 150ms ease-in-out;
}

.banquet:hover {
  transform: scale(2);
}

.kid-camp:hover {
  transform: scale(2);
}

.sac-camp:hover {
  transform: scale(2);
}

.coach {
  width: 450px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
